<h1>Home</h1>

<h2>Going Nowhere</h2>
<p>
  Nowhere is a local destination that is used to test that SAML login
  works locally
<p>
  
<% if user_signed_in? %>
  <p>Log out to go nowhere</p>
<% else %>
  <%= form_tag nowhere_index_path do %>
    <%= submit_tag "Go Nowhere" %>
  <% end %>
<% end %>